@mixin media-desktop {
    @media only screen and (min-width: 1024px) {
        @content;
    }
}

@mixin media-tablet {
    @media only screen and (min-width: 768px) {
        @content;
    }
}

@mixin media-mobile {
    @media only screen and (min-width: 375px) {
        @content;
    }
}

@mixin list-unstyle {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin link {
    text-decoration: none;
}