/* Site SCSS Varibles */

$main-text-color: #fff;
$main-midnight-color: #2D2641;
$main-paragrph-color: #837D88;
$main-black-color: #000;
$main-opacity-black-color: #837D88;
$main-white-color: #FAFAFA;